.header {
  width: 1440px;
  height: 115px;
  margin: 0 0 37px;
  padding: 20px 0 10px;
  object-fit: contain;
  box-shadow: 0 1px 4px 0 $black-8;
  background-color: white;
}

.header__intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__searchInput {
  width: 181px;
  height: 35px;
  margin: 1px 270px 13px 129px;
  padding: 5px 12px 5px 15px;
  border-radius: 17px;
  border: solid 1px $greyish-two;

  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: 145px;
}
.header__logo {
  width: 96px;
  height: 20px;
  //   margin: 8px 282px 21px 362px;
  padding: 0.3px 0.2px 0.4px 0.5px;
  object-fit: contain;

  //   flex: 1;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__register {
  width: 59px;
  height: 22px;
  margin: 9px 24px 18px 24px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--greyish-brown);
}
.header__login {
  width: 120px;
  height: 35px;
  margin: 2px 29px 12px 24px;
  padding: 7px 6.5px 6px 7.5px;
  border-radius: 100px;
  border: solid 1px #ffa15f;
  text-align: center;
}

.header__basket {
  img {
    width: 24px;
    height: 24px;
    margin: 9px 4px 0 0;
    padding: 2px;
    object-fit: contain;
  }

  .header__basketCount {
    width: 18px;
    height: 18px;
    margin: 2px 0;
    background-color: #ffa15f;
    border-radius: 10px;
  }
}

.line {
  width: 1440px;
  height: 15px;
  margin: 0 0 6px;
  padding: 20px 0 10px;
  object-fit: contain;
  box-shadow: 0 1px 4px 0 $black-8;
  background-color: white;
}

.header__categories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__gender {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-left: 41px;
  position: relative;
  .header__option {
    display: flex;
  }
}
.header__dropdown {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 150px;

  width: 620px;
  height: 55px;
  margin: 6px 0;
  padding: 16.5px 20px;
  box-shadow: 0 2px 4px 0 $black-8;
  border: solid 0.5px $white-six;
  background-color: $white-five;

  li {
    transition-duration: 0.5s;
  }

  li:hover {
    cursor: pointer;
  }
}
